<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Links </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>

<header>
    <div class="first-header-bar">
        <div class="sideded-logo">
            <img th:src="@{/media/sidroded_logo.png}" alt="Sidroded Logo">
        </div>
        <span class="title">Sidroded</span>
        <div class="icons">
            <img th:src="@{/media/close_hide_share_btn.png}" alt="Minimize">
        </div>
    </div>

    <div class="second-header-bar">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="navbar-custom-text">Home</a></li>
            <li class="nav-item"><a th:href="@{/portfolio}" class="navbar-custom-text"> Portfolio</a></li>
            <li class="nav-item"><a th:href="@{/links}" class="navbar-custom-text-active aria-current=page">Links</a></li>
        </ul>
    </div>
</header>

<div class="post-container">
    <div th:each="el : ${links}" class="post-info">
        <div class="post-header">
            <img class="project-icon" th:src="'https://drive.google.com/uc?export=download&id=' + ${el.image_id}" alt="project-icon">
            <h3 class="post-title-text" th:text="${el.name}"/>
            <img class="resize-btn" th:src="@{/media/resize-btn.png}" alt="resize btn">
        </div>

        <div class="post-body">
            <a class="post-anons-text" th:href="${el.link}" th:text="${el.link}"/>
        </div>
    </div>
</div>

</body>
</html>