<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title> Blog </title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" th:href="@{/css/styles.css}" type="text/css">
</head>
<body>

<header class="header">
    <div class="first-header-bar">
        <div class="sideded-logo">
            <img th:src="@{/media/sidroded_logo.png}" alt="Sidroded Logo">
        </div>
        <span class="title">Sidroded</span>
        <div class="icons">
            <img th:src="@{/media/close_hide_share_btn.png}" alt="Minimize">
        </div>
    </div>

    <div class="second-header-bar">
        <ul class="nav nav-pills">
            <li class="nav-item"><a th:href="@{/}" class="navbar-custom-text">Home</a></li>
            <li class="nav-item"><a th:href="@{/portfolio}" class="navbar-custom-text-active aria-current=page"> Portfolio</a></li>
            <li class="nav-item"><a th:href="@{/links}" class="navbar-custom-text">Links</a></li>
        </ul>
    </div>
</header>

<div class="project-container">
    <div th:each="el : ${post}" class="project-fill">

        <div class="project-header">
            <img class="project-icon" th:src="@{/media/sidroded_logo.png}" alt="sidroded-logo">
            <h3 class="post-title-text" th:text="${el.title}"/>
            <a class="close-link" th:href="@{/portfolio}"><img class="close-btn" th:src="@{/media/close.png}" alt="close btn"></a>
        </div>

        <div class="project-images">
            <img class="project-image" th:src="'https://drive.google.com/uc?export=download&id=' + ${el.image_link_2}" alt="image preview">
            <img class="project-image" th:src="'https://drive.google.com/uc?export=download&id=' + ${el.image_link_3}" alt="image preview">
        </div>

        <div class="project-info" th:each="text : ${htmlFullText}">
            <div class="project-full-text" th:utext="${htmlFullText}"></div>
            <a th:href="'/portfolio/' + ${el.id} + '/edit'" class="btn btn-warning">Edit</a><br><br>

            <form th:action="'/portfolio/' + ${el.id} + '/delete '" method="post" >
                <button class="btn btn-warning" type="submit">Delete</button>
            </form>
        </div>

        <div class="post-footer">
            <span class="views-text" th:text="'Views: ' + ${el.views}"/>
            <a class="learn-more-btn" th:href="@{/portfolio}">CLOSE</a>
        </div>
    </div>
</div>

</body>
</html>